<div class="row">
  <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
    <div class="card">
      <div class="card-body p-3">
        <div class="row">
          <div class="col-8">
            <div class="numbers">
              <p class="text-sm mb-0 text-uppercase font-weight-bold"><a href="#"
                  routerLink="/{{route_link.link}}">เอกสารเปล่า</a></p>

                  <h6 class="text-sm font-weight-normal mb-1">
                      <span class="font-weight-bold">&nbsp;</span>
                    </h6>
                    <p class="text-xs text-secondary mb-0">
                      <i class="fas fa-push"></i>
    
                      Blank Document
                    </p>
            </div>
          </div>
          <div class="col-4 text-end">
            <div class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
              
              <a href="#" routerLink="/{{route_link.link}}">
                  <i class="ni ni ni-fat-add" aria-hidden="true"></i>
                  <i class="ni ni-paper-diploma text-lg opacity-10"
                  aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
    <div class="card">
      <div class="card-body p-3">
        <div class="row">
          <div class="col-8">
            <div class="numbers">
              <p class="text-sm mb-0 text-uppercase font-weight-bold"><a href="#"
                  routerLink="/doc-create">หนังสือต้นแบบที่ 1</a></p>
                  <h6 class="text-sm font-weight-normal mb-1">
                      <span class="font-weight-bold">เรื่อง</span> ขอความอนุเคราะห์ 1
                    </h6>
                    <p class="text-xs text-secondary mb-0">
                      <i class="fa fa-clock me-1"></i>
                      10/05/2566
                    </p>

            </div>
          </div>
          <div class="col-4 text-end">
            <div class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle">
              <a href="#" routerLink="/doc-create"><i class="ni ni-books text-lg opacity-10"
                  aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-uppercase font-weight-bold"><a href="#"
                    routerLink="/doc-create">หนังสือต้นแบบที่ 2</a></p>
                    <h6 class="text-sm font-weight-normal mb-1">
                        <span class="font-weight-bold">เรื่อง</span> ขอความอนุเคราะห์ 2
                      </h6>
                      <p class="text-xs text-secondary mb-0">
                        <i class="fa fa-clock me-1"></i>
                        09/05/2566
                      </p>
  
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-info shadow-info text-center rounded-circle">
                <a href="#" routerLink="/doc-create"><i class="ni ni-books text-lg opacity-10"
                    aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-uppercase font-weight-bold"><a href="#"
                    routerLink="/doc-create">หนังสือต้นแบบที่ 3</a></p>
                    <h6 class="text-sm font-weight-normal mb-1">
                        <span class="font-weight-bold">เรื่อง</span> ขอความอนุเคราะห์ 3
                      </h6>
                      <p class="text-xs text-secondary mb-0">
                        <i class="fa fa-clock me-1"></i>
                        05/05/2566
                      </p>
  
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle">
                <a href="#" routerLink="/doc-create"><i class="ni ni-books text-lg opacity-10"
                    aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>

<div class="row mt-4">
  <div class="col-12">
    
    <div class="card mb-4">
      <!-- <div class="card-header pb-0">
        <h6>รายการหนังสือส่ง</h6>
      </div> -->
      <div class="card-header pb-0">
        <div class="d-flex align-items-right">
          <p class="mb-0">รายการล่าสุด</p>
          <a href="#" routerLink="/{{route_link.link}}" class="btn btn-primary btn-sm ms-auto">
            <i class="ni ni-fat-add text-lg opacity-10" aria-hidden="true"></i> {{route_link.text}}</a>
        </div>
      </div>
      <div class="card-body px-0 pt-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">เลขหนังสือ/วันที่</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ประเภทหนังสือ</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ความลับ/เร่งด่วน</th>
                <th class="text-left text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">เรื่อง</th>
                <th class="text-left text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ผู้ดำเนินการ</th>
                <th class="text-secondary opacity-7"></th>
                <th class="text-secondary opacity-7"></th>
                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let doc of docSendList">
                <td>
                  <p class="text-xs font-weight-bold mb-0">{{doc.edocNo}}</p>
                  <p class="text-xs text-secondary mb-0">{{doc.edocDate}}</p>
                </td>
                <td class="align-middle text-center text-sm">
                  <p class="text-xs font-weight-bold mb-0">{{doc.edocTypeName}}</p>
                </td>
                <td class="align-middle text-center text-sm">
                  <span class="badge badge-sm bg-gradient-success">{{doc.Secrets}}/{{doc.Rapid}}</span>
                </td>
                <td>
                  <p class="text-xs font-weight-bold mb-0">{{doc.Headline}}</p>
                  <p class="text-xs text-secondary mb-0">เรียน: {{doc.Receiver}}</p>
                </td>
                <td>
                  <p class="text-xs font-weight-bold mb-0">{{doc.Sender}}</p>
                </td>
                <td class="align-middle">
                  <a href="javascript:;" class="font-weight-bold text-xs badge badge-sm bg-warning" data-toggle="tooltip" data-original-title="view file">
                      <i class="fas fa-file"></i>
                  </a>
                </td>
                <td class="align-middle">
                  <a href="javascript:;" class="font-weight-bold text-xs badge badge-sm bg-primary" data-toggle="tooltip" data-original-title="coppy">
                      <i class="fas fa-copy"></i>
                  </a>
                  <!-- <button class="btn btn-outline-info btn-sm text-secondary mb-0" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-tag" aria-hidden="true"></i>
                  </button> -->
                </td>
                
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
