<div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header pb-0">
          <div class="d-flex align-items-center">
            <p class="mb-0">
              <i class="ni ni-fat-add text-lg opacity-10" aria-hidden="true"></i> 
              สร้างหนังสือ</p>
            <button class="btn btn-primary btn-sm ms-auto">Template</button>
          </div>
        </div>
        <div class="card-body">
          <form role="form" [formGroup]="creatForm" (ngSubmit)="postdata(creatForm)" autocomplete="on">
            <p class="text-uppercase text-sm">ข้อมูลทั่วไป</p>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="example-text-input" class="form-control-label">วันที่หนังสือ</label>
                  <input class="form-control" type="text" formControlName="docDate" value="29/05/2566">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="example-text-input" class="form-control-label col-md-2">ชั้นความลับ: &nbsp;</label>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="Secrets" value="1">
                      <label class="form-check-label" for="inlineRadio1">ปกติ</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="Secrets" value="2">
                      <label class="form-check-label" for="inlineRadio2">ลับ</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="Secrets" value="3">
                      <label class="form-check-label" for="inlineRadio2">ลับมาก</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="Secrets" value="4">
                      <label class="form-check-label" for="inlineRadio2">ลับทีสุด</label>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="form-group row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="example-text-input" class="form-control-label col-md-2">ความเร่งด่วน: &nbsp;</label>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="Rapid" value="1">
                      <label class="form-check-label" for="inlineRadio1">ปกติ</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="Rapid" value="2">
                      <label class="form-check-label" for="inlineRadio2">ด่วน</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="Rapid" value="3">
                      <label class="form-check-label" for="inlineRadio2">ด่วนมาก</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="Rapid" value="4">
                      <label class="form-check-label" for="inlineRadio2">ด่วนทีสุด</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="example-text-input" class="form-control-label">ประเภทหนังสือ</label>
                  <select class="form-select" formControlName="doctypeId" aria-label="Default select example">
                    <option *ngFor="let item of doctype_list" value="{{item.Id}}">{{item.Name}}</option>
                  </select>
                </div>
              </div>


            </div>

            <hr class="horizontal dark">
            <p class="text-uppercase text-sm">ข้อมูลหนังสือ</p> {{deptgovernment_list}}
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label for="example-text-input" class="form-control-label">หน่วยงาน ส่วนราชการ</label>
                  <select class="form-select" formControlName="departId_Government" aria-label="Default select example">
                    <option *ngFor="let item of deptgovernment_list" value="{{item.Id}}">{{item.Name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <label for="example-text-input" class="form-control-label">เรียน</label>
                  <input class="form-control" type="text" value="">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="example-text-input" class="form-control-label">เรื่อง</label>
                  <input class="form-control" type="text" value="">
                </div>
              </div>
            
              <div class="col-md-12">
                <div class="form-group">
                  <label for="example-text-input" class="form-control-label">รายละเอียดหนังสือ</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
              </div>
              
              <div class="form-group row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="example-text-input" class="form-control-label col-md-2">อายุหนังสือ: &nbsp;</label>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                      <label class="form-check-label" for="inlineRadio1">1 ปี</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                      <label class="form-check-label" for="inlineRadio2">5 ปี</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                      <label class="form-check-label" for="inlineRadio2">10 ปี</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr class="horizontal dark">
            <p class="text-uppercase text-sm"></p>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <div class="col-md-12">
                    <div class="d-flex align-items-center">
                      <p class="mb-0">
                      &nbsp;
                      </p>
                      <button class="btn btn-primary btn-sm ms-auto"><i class="ni ni-fat-add text-lg opacity-10" aria-hidden="true"></i> สร้างหนังสือ</button>
                    </div>
                  </div>
                  <!-- <div class="col-md-2">
                    <a href="javascript:;" class="btn btn-primary btn-sm ms-auto">
                      <i class="ni ni-fat-add text-lg opacity-10" aria-hidden="true"></i> สร้างหนังสือ</a>
                  </div> -->

                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-profile">
        <img src="../assets/img/bg-profile.jpg" alt="Image placeholder" class="card-img-top">
        <div class="row justify-content-center">
          <div class="col-4 col-lg-4 order-lg-2">
            <div class="mt-n4 mt-lg-n6 mb-4 mb-lg-0">
              <a href="javascript:;">
                <img src="../assets/img/team-2.jpg" class="rounded-circle img-fluid border border-2 border-white">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-0 pt-lg-2 pb-4 pb-lg-3">
          <div class="d-flex justify-content-between">
            <a href="javascript:;" class="btn btn-sm btn-info mb-0 d-none d-lg-block">Connect</a>
            <a href="javascript:;" class="btn btn-sm btn-info mb-0 d-block d-lg-none"><i class="ni ni-collection"></i></a>
            <a href="javascript:;" class="btn btn-sm btn-dark float-right mb-0 d-none d-lg-block">Message</a>
            <a href="javascript:;" class="btn btn-sm btn-dark float-right mb-0 d-block d-lg-none"><i class="ni ni-email-83"></i></a>
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="row">
            <div class="col">
              <div class="d-flex justify-content-center">
                <div class="d-grid text-center">
                  <span class="text-lg font-weight-bolder">22</span>
                  <span class="text-sm opacity-8">Friends</span>
                </div>
                <div class="d-grid text-center mx-4">
                  <span class="text-lg font-weight-bolder">10</span>
                  <span class="text-sm opacity-8">Photos</span>
                </div>
                <div class="d-grid text-center">
                  <span class="text-lg font-weight-bolder">89</span>
                  <span class="text-sm opacity-8">Comments</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center mt-4">
            <h5>
              Mark Davis<span class="font-weight-light">, 35</span>
            </h5>
            <div class="h6 font-weight-300">
              <i class="ni location_pin mr-2"></i>Bucharest, Romania
            </div>
            <div class="h6 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer
            </div>
            <div>
              <i class="ni education_hat mr-2"></i>University of Computer Science
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>